<!-- Footer
================================================== -->
<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">
    {{> social-buttons }}

    <p>Designed and built with all the love in the world by <a href="http://twitter.com/jonschlinkert" target="_blank">@jonschlinkert</a> and <a href="http://twitter.com/doowb" target="_blank">@doowb</a>.</p>
    <p>Maintained by the <a href="https://github.com/assemble?tab=members">core team</a> with the help of <a href="https://github.com/assemble/assemble/graphs/contributors">our contributors</a>.</p>
    <p>Code licensed under <a href="https://github.com/assemble/assemble/blob/master/LICENSE" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>

    <ul class="bs-docs-footer-links muted">
      <li>Currently v{{ site.version }}</li>
      <li>&middot;</li>
      <li><a href="{{ site.url.repo }}">GitHub</a></li>
      <li>&middot;</li>
      <li><a href="{{rel 'about.html'}}">About</a></li>
      <li>&middot;</li>
      <li><a href="{{rel 'blog.html'}}">Blog</a></li>
      <li>&middot;</li>
      <li><a href="{{ site.url.repo }}/issues?state=open">Issues</a></li>
    </ul>
  </div>
</footer>