<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}} | {{site.title}}</title>

<!-- Core CSS -->
{{#is title 'Blog'}}
<link rel="stylesheet" href="{{assets}}/css/blog.css">
{{else}}
<link rel="stylesheet" href="{{assets}}/css/{{site.title}}.css">
{{/is}}

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Webfonts -->
<script type="text/javascript">
  WebFontConfig = {
    google: {
      families: [{{webfonts site.webfonts}}]
    }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>


<!-- Favicons -->
<link rel="shortcut icon" href="{{ assets }}/ico/favicon.ico">

{{! setup your google analytics info in .assemblerc.yml }}
{{analytics site.google.analytics 'head'}}